button {
    width: 95px;
    height: 40px;
    border-radius: 6px;
    background-color: $red;
    border: none;
    color: $white;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin: 5px 5px 5px 0;

    &:hover{
        cursor: pointer;
    }
}

.btn_container {
    background-color: $white;
    border-radius: 0 6px 6px 0;
}

.bookmark_btn {
    width: 36px;
    height: 36px;
    margin: 0;
    background-color: $white;
}

.book-gold {
    color: $gold;
    cursor: pointer;
}

.book-grey {
    color: $light-grey;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.get {
    width: 69px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $white;
    color: $black;
    font-size: 14px;

    &:hover {
        transform: scale(1.1);
    }
}

.nothanks {
    width: 90px;
    height: 20px;
    font-size: 14px;
    background: none;

    &:hover {
        transform: scale(1.1);
    }
}

.mobtn {
    background: none;
    color: $black;
    font-size: 16px;
    letter-spacing: -0.0246154px;

    &.active{
        width: 102px;
        background-color: $light-red;
        color: $red;
        border-radius: 20px;
    }
}