.card {
    width: 320px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: $shadow;
    
    img {
        width: 320px;
        height: 140px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;

        @media screen and (max-width:$mobile-breakpoint) {
            width: 344px;
        }
    }

    #{&}_info {
        min-height: 112px;
        border-radius: 0 0 8px 8px;
        @include flexBetween(column);
        padding-left: 12px;

        .category{
            font-size: 10px;
            margin: 0;
            padding: 12px 0 2px 0;
            text-transform: uppercase;
            color: $blue;
            font-weight: bold;
        }

        .title {
            font-size: 16px;
            margin: 0;
            font-weight: normal;
        }

        .author {
            font-size: 12px;
            margin: 0;
        }

    }

    #{&}_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width:$mobile-breakpoint) {
        width: 344px;
    }
}