input {
    width: 625px;
    height: 48px;
    font-size: 15px;
    padding-left: 50px;
    border-radius: 10px 0 0 10px;
    border: none;
    color: $black;
    background-color: $white;
    mix-blend-mode: normal;
}