.loading{
    @include flexCenter(column);
    padding: 0 550px;

    @keyframes rotate {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }

    .spinner{
        font-size: 32px;
        color: $red;
        animation: rotate 2s infinite;
    }

    h1{
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: normal;
    }

    @media screen and (max-width: $mobile-breakpoint){
        padding: 48px 0 0 120px;
    }
}

.no_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 500px 0 300px;

    .newspaper{
        font-size: 32px;
        color: $red;
    }

    h1{
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: normal;
    }

    @media screen and (max-width: $mobile-breakpoint){
        padding: 48px 0 0 40px;
    }
}

