:root { 
  font-family: $font;
  background-color: $back-grey;
}

@supports (font-variation-settings: normal) {
  :root { font-family: $font_var }
}

a {
  text-decoration: none;
}

body{
  margin: 0;
}