.main_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 0 0 175px;
}

.news_container {
    display: flex;
    flex-direction: column;
}

.category_title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: $black;
    padding: 0 0 16px 0;
}

.main_top{
    display: flex;
    gap: 22px;
    margin: 0 171px 22px 0;
}

.article_grid_small {
    @include gridSmall;
}

.article_grid_big{
    @include gridBig;
    margin: 0 171px 42px 0;
}

