@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin gridBig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

@mixin gridSmall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}