//colors
$blue: rgba(30, 113, 187, 1);
$red: rgba(187, 30, 30, 1);
$light-red: rgba(187, 30, 30, 0.1);
$black: rgba(29, 29, 27, 1);
$white: #fff;
$back-grey: #F2F2F2;
$light-grey: #A5A5A4;
$dark-grey: #1D1D1B;
$gold: rgb(243, 211, 32);

//font
$font: "Inter", sans-serif;
$font_var: "Inter var", sans-serif;

//shadows
$shadow: 0px 1px 2px -1px #C8CAD1;
$menu-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);

//breakpoints
$mobile-breakpoint: 500px;