.banner {
    width: 1440px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $red;

    #{&}_text1{
        color: $white;
        font-size: 16px;
        letter-spacing: -0.136px;
        padding-left: 170px;
    }

    #{&}_text2{
        color: $white;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.119px;
    }

    #{&}_buttons{
        padding-right: 217px;
    }

    &.hidden{
        display: none;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
}

